.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #1f293a;
  }
  
  h2 {
    font-size: 2em;
    color: #0ef;
    text-align: center;
  }
  
  .profile-info {
    color: #f1e3e3;
    padding: 20px;
    margin-top: 20px;
  }
  
  .profile-info p {
    margin: 10px 0;
  }
  
  .profile-info p strong {
    font-weight: bold;
    color: #f1e3e3;
  }
  