<!-- <div class="parent">
    <div class="container">
        <div class="login-box">
            <h2>Registration</h2>
            <form action="#">
                <div class="input-box">
                    <input type="username" [(ngModel)]="RegisterObj.username" name="username" required>
                    <label>Username</label>
                    
                </div>
                <div class="input-box">
                    <input type="email" [(ngModel)]="RegisterObj.email" name="email" required>
                    <label>Email</label>
                    
                </div>
                <div class="input-box">
                    <input type="password" [(ngModel)]="RegisterObj.password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="input-box">
                    <input type="isActive" [(ngModel)]="RegisterObj.isActive" name="isActive">
                    <label>isActive</label>
                </div>
                <div class="input-box">
                    <input type="phone_number" [(ngModel)]="RegisterObj.phone_number" name="phone_number">
                    <label>Phone Number</label>
                </div>
                
                <button type="button" class="btn" (click)="onRegistration()" >Registration</button>
                 
            </form>
        </div>
        
    </div>
</div> -->